body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #7208b9;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
label {
    text-align: right;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="submit"]
{
width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="message"] {
    width: 78.4%;
    padding: 40px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: rgb(253, 202, 218);
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .content-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .block {
    width: 300px;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .footer {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-footer {
    flex: 1;
    text-align: left;
  }
  .right-footer {
    flex: 1;
    text-align: right;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%; /* Ширина кожної колонки */
}
.gold-star {
    color: #FFD700; /* Золотистий колір */
  }