* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(shrek-shrek-forever-after-movie-wallpaper-thumb.jpg);
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

main {
  padding: 20px;
}

section {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #f1f1f1;
}

footer {
  bottom: 0%;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 0%;
}

main {
    padding: 20px;
    text-align: center;
}

label {
    text-align: right;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="submit"]
{
width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="message"] {
    width: 78.4%;
    padding: 40px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: rgb(253, 202, 218);
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .content-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .block {
    width: 300px;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-image: url('path_to_your_image.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .left-footer {
    flex: 1;
    text-align: left;
  }
  .right-footer {
    flex: 1;
    text-align: right;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%; /* Ширина кожної колонки */
}
.gold-star {
    color: #FFD700; /* Золотистий колір */
  }